<!DOCTYPE html> 
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 		
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

</head>
<body >
<div data-role="header"> 
	<h1>WhatsUpcoming</h1> 
	<a id="showclose" data-icon="forward">sort</a>
</div>

{% if events %}
<ul data-role="listview" data-inset="true" data-filter="true">
  {% for e in events %}
  <li ><a  href="../event/{{ e.id }}" rel="external" data-ajax="true">{{ e }}</a>
 {%if e.days > 0%}
  {{ e.days }} days,
 {%endif %}
  {{ e.minutes }} minutes left
 {%if e.distance_view != nil  %}
  , {{ e.distance_view }} m
 {%endif%}

  </li>
  {% endfor %}
</ul>
{% else %}
<p>No events upcoming</p>
{% endif %}
<div id="lat" display="none"></div>
<div id="lon" display="none"></div>
<script>

navigator.geolocation.getCurrentPosition(whatsupGetLocation);
function whatsupGetLocation(location) {
	

	
	document.getElementById("showclose").innerHTML = "Sort";
	document.getElementById("showclose").href = "../upcoming/?lat=" + location.coords.latitude + "&lon=" + location.coords.longitude;
	window.location ="../upcoming/?lat=" + location.coords.latitude + "&lon=" + location.coords.longitude;"
}
</script>
</body>
</html>
