<html>
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

</head>
<body >

your position
<div id="lat"></div>
<div id="lon"></div>

{% if events %}
<ul>
  {% for e in events %}
  <li><i>{{ e.name }}</i> 

    {% if e.days > 0%}
      {{ e.days }} days,
    {% endif %}
    {{ e.minutes }} minutes left 

  <a href="../event/{{ e.id }}">detail</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No events upcoming</p>
{% endif %}

<script>
navigator.geolocation.getCurrentPosition(GetLocation)
function GetLocation(location) {
	document.getElementById("lat").innerHTML = location.coords.latitude;
    document.getElementById("lon").innerHTML =  location.coords.longitude;
	
}
</script>
</body>
</html>