<!DOCTYPE html> 
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 		
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

</head>
<body >

{% if event %}
<div data-role="header"> 
	<h1>WhatsUpcoming</H1>
	<a data-icon="back" class="ui-btn-left" href="javascript:window.history.back();">back</a>
</div>
<div data-role="content">http://127.0.0.1:8000/event/5
Name: {{event.name}}</br>
Location: {{event.location}}</br>
Start Date: {{ event.date_start }}</br>
End Date: {{ event.date_end }}</br>
{% else %} 
<p>No event</p>
{% endif %}
</div>

