{% load endless %}
{% load humanize %}
{% paginate events%}
{% for e in events %}
<li>
	<a href="../event/{{ e.id }}" rel="external" data-ajax="true"> <h3>{{ e.location.name }}</h3>
	<p style="font-weight:bold; font-size:10pt">
		{{ e.name }}
	</p>
	<p >
	{{ e.date_start|naturaltime }}
	</p
	<p>
		{% if e.distance_view != nil  %}
		{{ e.distance_view }} m
		{%endif%}
	</p> 
	<p>
	  {% for category in e.categories.all %}
	    {{category}}
	  {% endfor %}
	</p>
</a>
</li>
{% endfor %}
{% show_more %}
