<!DOCTYPE html> 
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 		
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script src="https://github.com/carhartl/jquery-cookie/blob/master/jquery.cookie.js"></script>

</head>
<body >
<div data-role="header"> 
	<h1>WhatsUpcoming</h1> 
	<a id="showclose" data-icon="gear" class="ui-btn-right">gettingLoc</a>
</div>
<div data-role="content">
{% if events %}
<ul data-role="listview" data-inset="true" data-filter="true">
  {% for e in events %}
  <li ><a  href="../event/{{ e.id }}" rel="external" data-ajax="true"><h1>{{ e }}</h1><p>
 {%if e.days > 0%}
  {{ e.days }} days,
 {%endif %}
  {{ e.minutes }} minutes left
 {%if e.distance_view != nil  %}
  , {{ e.distance_view }} m
 {%endif%}

  </p></a></li>
  {% endfor %}
</ul>
{% else %}
<p>No events upcoming</p>
{% endif %}
</div>
<div id="lat"></div>
<div id="lon"></div>
<script>

if ($.cookie('lat') && $.cookie('lon')){
	document.getElementById("showclose").innerHTML = "C";
	document.getElementById("showclose").href = "../upcoming/?lat=	" + $.cookie('lat') + "&lon=" + $.cookie('lon');
	
}else{
navigator.geolocation.getCurrentPosition(whatsupGetLocation);
function whatsupGetLocation(location) {
	
	document.getElementById("lat").innerHTML = location.coords.latitude;
    document.getElementById("lon").innerHTML =  location.coords.longitude;
	
	document.getElementById("showclose").innerHTML = "C";
	document.getElementById("showclose").href = "../upcoming/?lat=	" + location.coords.latitude + "&lon=" + location.coords.longitude;
	$.cookie('lat', location.coords.latitude);
	$.cookie('lon', location.coords.longitude);
	
	
}}
</script>
</body>
</html>
